

<html>
  <head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/weather-icons.css">
    <style>
      .panel-primary > .panel-heading {
        background-color: #000;
      }

      .panel-title {
        font-size: 30px;
      }

      body {
        font-size: 20px;
      }
    </style>
  </head>
  <body>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">From: <%= params[:f] %></h3>
      </div>

      <p><%= params[:t] %></p>
    </div>
    <hr />
  </body>
</html>
